<div class="auth-page">
  <div class="container page">
    <div class="row" *ngIf="state">
      <div class="col-md-6 offset-md-3 col-xs-12">
        <h1 class="text-xs-center">{{state.name}}</h1>
        <p class="text-xs-center">
          <a class="" [href]="state.links.login.href"
            >{{state.links.login.text}}</a
          >
        </p>
        <form>
          <fieldset>
            <fieldset class="form-group" *ngFor="let field of state.data">
              <input
                [type]="field.type"
                class="form-control form-control-lg"
                [placeholder]="field.placeholder"
                [value]="field.value"
              />
            </fieldset>

            <button class="btn btn-lg btn-primary pull-xs-right" type="submit">
              Sign in
            </button>
          </fieldset>
        </form>
      </div>
    </div>
  </div>
</div>
