<div class="article-preview" *ngIf="article">
  <app-conduit-articles-meta [article]="article">
    <app-conduit-buttons-favorite
      [favorited]="article.favorited"
      (onFavorited)="favoriteArticle({article:article,favorite:$event})"
      class="pull-xs-right"
    >
      {{article.favoritesCount}}
    </app-conduit-buttons-favorite>
  </app-conduit-articles-meta>

  <a [href]="article.href" class="preview-link">
    <h1>{{ article.title }}</h1>
    <p>{{ article.description }}</p>
    <span>Read more...</span>
    <ul class="tag-list">
      <li
        class="tag-default tag-pill tag-outline"
        *ngFor="let tag of article.tagList"
      >
        {{ tag }}
      </li>
    </ul>
  </a>
</div>
